{% extends 'base/main.html' %} {% block content%}
<title>Şifre Unuttum | BMM</title>
<style>
    nav {
        background-color: rgb(58, 58, 58);
    }
    
    ul {
        list-style: none;
    }
    
    li {
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 25px;
        margin-right: 25px;
        transition: 0.4s;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }
    
    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: 0.3s;
        font-size: 17px;
    }
    
    li a:hover {
        color: rgb(253, 253, 253);
        text-decoration: underline;
        transition: 0.3s;
    }
    
    input {
        border-radius: 5px;
        border: 1px solid black;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 8px;
        margin-bottom: 6px;
    }
    
    input:first-child {
        width: 20%;
    }
    
    label {
        margin-left: 50%;
        transform: translateX(-50%);
    }
</style>
</head>
    
<nav>
    <ul class="d-flex justify-content-end text-center">
        <li style="color: white;">Kişi Cevapla</li>
        <li class="welcomeuser" style="position: absolute;left: 0;color: white;"><a href="{% url 'citizen-home' %}">Anasayfa</a></li>
    </ul>
</nav>

<form action="" method="post">
    {% csrf_token %}
    <h4 class="text-center pb-5 pt-5">Şifreni mi unuttun? Emailini aşağıya gir ve sana şifre değiştirmek için bir link sayfası atalım.
    </h4>
    <div>
        <label style="font-size: 20px;">Email</label>
        <div class="mt-2">{{form.email}}</div>
        <input type="submit" class="btn btn-outline-dark mt-3">
    </div>

</form>
<div class="slidernav">
        <ul style="visibility: visible;margin-left: 50%;transform: translateX(-50%);">
            {% if request.user.is_anonymous %}
            <li><a href="
                    {% url 'citizen-home' %}
                    " >Anasayfa</a></li>
        <li><a href="#" >İletişim</a></li>
            <li><a href="{% url 'onerivesikayet' %}" >Öneri ve Şikayet</a></li>
            <li><a href="{% url 'duyurular' %}" >Duyurular</a></li>
            <li><a href="{% url 'register' %}" >Kayıt Ol</a></li>
            <li><a href="{% url 'login' %}">Giriş Yap</a></li>
            {% else %}
            <li><a href="
                    {% if user.is_superuser %}
                    {% url 'admin-home' %}
                    {% else %}
                    {% url 'citizen-home' %}
                    {% endif %}
                    " >Anasayfa</a></li>
        <li><a href="{% url 'citizen-contact' %}" >İletişim</a></li>
            <li><a href="{% url 'onerivesikayet' %}" >Öneri ve Şikayet</a></li>
            <li><a href="{% url 'duyurular' %}" >Duyurular</a></li>
            <li><a href="{% url 'citizen-settings' %}"><i class="fas fa-cogs" alt="Ayarlar"
            title="Ayarlar" ></i></a></li>
            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" title="Çıkış Yap"
                alt="Çıkış Yap" ></i></a></li>
            {% endif %}
        </ul>
</div>
<script>
        let slider = document.querySelector(".slidernav");
        let icon = document.querySelector(".fa-bars");
        icon.addEventListener("click", () => {
        slider.classList.toggle("slidernavmargin");
        });
        window.onscroll = function() {
        scrollfunc();
        };
        let scrollnav = document.querySelector(".scroll-nav");
        let scrolltop = document.querySelector(".fa-arrow-up");

        function scrollfunc() {
            if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
             scrollnav.style.top = "0";
            } else {
        scrollnav.style.top = "-50px";
            }
            scrolltop.addEventListener("click", () => {
                window.scrollTo(0, 0);
            });
}
    </script>

{% endblock content%}