{% extends 'base/main.html' %}
{% block content%}
<title>Şifre Değiştirme | BMM</title>
<style>
    nav {
        background-color: rgb(58, 58, 58);
    }

    ul {
        list-style: none;
    }

    li {
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 25px;
        margin-right: 25px;
        transition: 0.4s;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }

    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: 0.3s;
        font-size: 17px;
    }

    li a:hover {
        color: rgb(253, 253, 253);
        text-decoration: underline;
        transition: 0.3s;
    }
</style>
</head>
<body>
<nav>
    <ul class="d-flex justify-content-center text-center">
        <li style="color: white;">Şifre Sıfırlama</li>
    </ul>
</nav>

        <h4 class="mt-5 text-center">Yeni parolayı girin.</h4>
        <h5 class="text-center mt-3 mb-2">Lütfen yeni parolanızı iki kere girin böylece böylece doğru olarak yazdığınızı doğrulayabilelim.</h5>
        <label class="mt-4" style="margin-left: 50%;transform: translateX(-50%);">Yeni Şifre</label>
        <br>
        <label style="margin-left: 50%;transform: translateX(-50%);">{{form.new_password1}}</label>
        <br>
        <label class="mt-5" style="margin-left: 50%;transform: translateX(-50%);">Yeni Şifre (Tekrar)</label>
        <br>
        <label class="mb-5" style="margin-left: 50%;transform: translateX(-50%);">{{form.new_password2}}</label>
        <br>
        <input type="submit" value="Şifreyi Değiştir" class="btn btn-outline-dark"  style="margin-left: 50%;transform: translateX(-50%);">
        






    <script>

        
        $(window).on("load", function() {
            $('.loading').fadeOut(800);
        });
        let slider = document.querySelector(".slidernav");
        let icon = document.querySelector(".fa-bars");
        icon.addEventListener("click", () => {
        slider.classList.toggle("slidernavmargin");
        });
        window.onscroll = function() {
        scrollfunc();
        };
        let scrollnav = document.querySelector(".scroll-nav");
        let scrolltop = document.querySelector(".fa-arrow-up");

        function scrollfunc() {
            if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
             scrollnav.style.top = "0";
            } else {
        scrollnav.style.top = "-50px";
            }
            scrolltop.addEventListener("click", () => {
                window.scrollTo(0, 0);
            });
}
    </script>
{% endblock content%}