{% extends 'base/main.html' %} {% block content%}
<title>Şifre Değiştirme | BMM</title>
<style>
    nav {
        background-color: rgb(58, 58, 58);
    }
    
    ul {
        list-style: none;
    }
    
    li {
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 25px;
        margin-right: 25px;
        transition: 0.4s;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }
    
    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: 0.3s;
        font-size: 17px;
    }
    
    li a:hover {
        color: rgb(253, 253, 253);
        text-decoration: underline;
        transition: 0.3s;
    }
    
    input {
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    input:first-child {
        width: 20%;
    }
    
    label {
        margin-left: 50%;
        transform: translateX(-50%);
    }
</style>
</head>
<nav>
    <ul class="d-flex justify-content-end text-center">
        <li style="color: white;">Şifre Değiştirme</li>
        <li class="welcomeuser" style="position: absolute;left: 0;color: white;"><a href="{% url 'citizen-home' %}">Anasayfa</a></li>
    </ul>
</nav>
<form action="" method="post">
    {% csrf_token %}

    <div class="col col-4 offset-4 mt-4">
    <label class="mt-5 mb-1">Şuan ki Şifre</label>
    {{form.old_password}}
    <label class="mt-5 mb-1">Yeni Şifre</label>
    {{form.new_password1}}
    <label class="mt-5 mb-1">Yeni Şifre (Tekrar)</label>
    {{form.new_password2}}
    </div>
    
    
</form>
<script>
    let old = document.getElementById('id_old_password');
    let new1 = document.getElementById('id_new_password1');
    let new2 = document.getElementById('id_new_password2');
    old.classList.add('form-control')
    new1.classList.add('form-control')
    new2.classList.add('form-control')
    </script>

{% endblock content%}