{% extends 'base/main.html' %} {% block content%} {% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

<title>{{duyuru.title}} Düzenle | BMM</title>
</head>

<div class="slidernav">
        <ul style="visibility: visible;margin-left: 50%;transform: translateX(-50%);">
            {% if request.user.is_anonymous %}
            <li><a href="
                    {% url 'citizen-home' %}
                    " >Anasayfa</a></li>
        <li><a href="{% url 'citizen-contact' %}" >İletişim</a></li>
            <li><a href="{% url 'onerivesikayet' %}" >Öneri ve Şikayet</a></li>
            <li><a href="{% url 'duyurular' %}" >Duyurular</a></li>
            <li><a href="{% url 'register' %}" >Kayıt Ol</a></li>
            <li><a href="{% url 'login' %}">Giriş Yap</a></li>
            {% else %}
            <li><a href="
                    {% if user.is_superuser %}
                    {% url 'admin-home' %}
                    {% else %}
                    {% url 'citizen-home' %}
                    {% endif %}
                    " >Anasayfa</a></li>
        <li><a href="{% url 'citizen-contact' %}" >İletişim</a></li>
            <li><a href="{% url 'onerivesikayet' %}" >Öneri ve Şikayet</a></li>
            <li><a href="{% url 'duyurular' %}" >Duyurular</a></li>
            <li><a href="{% url 'citizen-settings' %}"><i class="fas fa-cogs" alt="Ayarlar"
            title="Ayarlar" ></i></a></li>
            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" title="Çıkış Yap"
                alt="Çıkış Yap" ></i></a></li>
            {% endif %}
        </ul>
</div>
<div class="scroll-nav">
        <ul class="ul d-flex justify-content-end text-center">
            <p class="welcomeuser" style="position: absolute;left: 30px;top: 5px;font-size: 18px;color: white;"><img src="{% static 'mahresimler/logo.png' %}" style="width: 18px;height: 18px;margin-top: 18%;"/></p>
            <li class="li">
                <i class="fas fa-arrow-up" style="cursor: pointer;display: block;visibility: visible;margin-top: 6px;"></i>
            </li>
        </ul>
    </div>
<nav>
    <ul class="d-flex justify-content-end text-center">
        <p class="geri" style="
          position: absolute;
          left: 30px;
          top: 5px;
          font-size: 18px;
          color: white;
        ">
            <a href="{% url 'duyurular' %}" style="color: white; text-decoration: none; display: block">Geri Dön</a
        >
      </p>
      <li class="li">Duyuru Güncelle</li>
    </ul>
  </nav>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="col-6 offset-3">
      <label for="title" style="margin-top: 30px">Başlık</label>
      <div class="row">
        <input type="text" value="{{duyuru.title}}" name="title" class="form-control" />
      </div>
      <label for="desc" style="margin-top: 30px">Açıklama</label>
      <div class="row">
        <input type="text" value="{{duyuru.desc}}" name="desc" class="form-control" />
      </div>
      {% comment %} {% if duyuru.image %}
      <label style="margin-top: 30px">Şimdiki Fotoğraf : {{duyuru.image.url}} <input type="checkbox" name="temizle">Temizle</label>
      <div class="row">
        <label for="file" style="margin-top: 10px">Değiştir</label>
      </div>
      <div class="row">
        <input type="file" id="file" name="file"class="form-control" />
      </div>
      {% else%}
      <div class="row">
        <label for="file" style="margin-top: 10px">Fotoğraf</label>
      </div>
      <div class="row">
        <input type="file" id="file" name="file"class="form-control" />
      </div>

      {% endif %} {% endcomment %}
    </div>
    <input
      type="submit"
      value="Ekle"
      class="btn btn-outline-dark mt-4"
      style="margin-left: 50%; transform: translateX(-50%)"
    />
  </form>

<script>

        
        $(window).on("load", function() {
            $('.loading').fadeOut(800);
        });
        let slider = document.querySelector(".slidernav");
        let icon = document.querySelector(".fa-bars");
        icon.addEventListener("click", () => {
        slider.classList.toggle("slidernavmargin");
        });
        window.onscroll = function() {
        scrollfunc();
        };
        let scrollnav = document.querySelector(".scroll-nav");
        let scrolltop = document.querySelector(".fa-arrow-up");

        function scrollfunc() {
            if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
             scrollnav.style.top = "0";
            } else {
        scrollnav.style.top = "-50px";
            }
            scrolltop.addEventListener("click", () => {
                window.scrollTo(0, 0);
            });
}
    </script>
{% endblock content %}