{% extends 'base/main.html' %} {% block content%} {% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

<title>{{duyuru.title}} | BMM</title>
</head>

<div class="slidernav">
    <ul style="color: black;visibility: visible;margin-left: 50%;transform: translateX(-50%)">
        <li><a href="{% url 'citizen-home' %}">Anasayfa</a></li>
        <li>
            <a href="{% url 'inbox-citizen' request.user.id %}">Gelen Kutusu</a
        >
      </li>
        <li><a href="#">Kadromuz</a></li>
        <li><a href="{% url 'citizen-contact' %}">İletişim</a></li>
        <li><a href="{% url 'citizen-settings' %}"><i class="fas fa-cogs" alt="Ayarlar"
        title="Ayarlar"></i></a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" title="Çıkış Yap"
        alt="Çıkış Yap"></i></a></li>
    </ul>
</div>
<div class="scroll-nav">
        <ul class="ul d-flex justify-content-end text-center">
            <p class="welcomeuser" style="position: absolute;left: 30px;top: 5px;font-size: 18px;color: white;"><img src="{% static 'mahresimler/logo.png' %}" style="width: 18px;height: 18px;margin-top: 18%;"/></p>
            <li class="li">
                <i class="fas fa-arrow-up" style="cursor: pointer;display: block;visibility: visible;margin-top: 6px;"></i>
            </li>
        </ul>
    </div>
<nav>

    <ul class="d-flex justify-content-end text-center">
       <p class="geri li" style="
          position: absolute;
          left: 15px;
          font-size: 18px;
          color: white;
        ">
            <a href="{% url 'citizen-home' %}" style="color: white; text-decoration: none; display: block">Geri Dön</a
        >
      </p>
      <li class="li">Duyuru Detayları</li>
    </ul>
  </nav>



  

{% if duyuru.image %}
  <table>
    <tr style="display: flex;align-items: flex-start;">
      <td class="col col-6 offset-1 text-center mt-4" colspan="2" style="font-size: 1.125em;"><h4>{{duyuru.title}}</h4> <br> <br> <p>{{duyuru.desc}}</p></td>
      <td class="col col-1"></td>
      <td class="col col-4 mt-5"><img src="{{duyuru.image.url}}" style="min-width: 150px;min-height: 350px;" class="col-10"></td>
    </tr>
  </table>
  {% else %}
  <div>
    <div style="text-align: center;margin-top: 40px"><h3>Başlık : {{duyuru.title}}</h4></div>
    <div style="text-align: center;margin-top: 40px;font-size: 20px;width: 84vw;margin-left: 8vw;"><p>Açıklama : {{duyuru.desc}}</p></div>
  </div>

{% endif %}

<script>
        window.onscroll = function() {
        scrollfunc();
        };
        let scrollnav = document.querySelector(".scroll-nav");
        let scrolltop = document.querySelector(".fa-arrow-up");

        function scrollfunc() {
            if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
             scrollnav.style.top = "0";
            } else {
        scrollnav.style.top = "-50px";
            }
            scrolltop.addEventListener("click", () => {
                window.scrollTo(0, 0);
            });
}
    </script>
        
        
{% endblock content %}