{%extends 'base/main.html' %} {% block content %}
<title>{{persons.name_surname}} | BMM</title>

<style>
  i {
    color: white;
    position: fixed;
    right: 30px;
    bottom: 30px;
  }

  .container-fluid {
    padding: 0;
  }

  nav {
    background-color: rgb(58, 58, 58);
    z-index: 110;
  }

  ul {
    list-style: none;
  }

  li {
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 25px;
    margin-right: 25px;
    transition: 0.4s;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: white;
  }

  li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    font-size: 17px;
  }

  li a:hover {
    color: white;
    text-decoration: underline;
    transition: 0.3s;
  }

  .scroll-nav {
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 100%;
    transition: 0.3s;
    height: 37px;
    top: -50px;
    z-index: 10;
  }
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

<body id="body">
  <div class="container-fluid">
    <div class="slidernav">
      <ul
        style="
          visibility: visible;
          margin-left: 50%;
          transform: translateX(-50%);
        "
      >
        {% if request.user.is_anonymous %}
        <li>
          <a
            href="
                    {% url 'citizen-home' %}
                    "
            >Anasayfa</a
          >
        </li>
        <li><a href="{% url 'citizen-contact' %}">İletişim</a></li>
        <li><a href="{% url 'onerivesikayet' %}">Öneri ve Şikayet</a></li>
        <li><a href="{% url 'duyurular' %}">Duyurular</a></li>
        <li><a href="{% url 'register' %}">Kayıt Ol</a></li>
        <li><a href="{% url 'login' %}">Giriş Yap</a></li>
        {% else %}
        <li>
          <a
            href="
                    {% if user.is_superuser %}
                    {% url 'admin-home' %}
                    {% else %}
                    {% url 'citizen-home' %}
                    {% endif %}
                    "
            >Anasayfa</a
          >
        </li>
        <li><a href="{% url 'citizen-contact' %}">İletişim</a></li>
        <li><a href="{% url 'onerivesikayet' %}">Öneri ve Şikayet</a></li>
        <li><a href="{% url 'duyurular' %}">Duyurular</a></li>
        <li>
          <a href="{% url 'citizen-settings' %}"
            ><i class="fas fa-cogs" alt="Ayarlar" title="Ayarlar"></i
          ></a>
        </li>
        <li>
          <a href="{% url 'logout' %}"
            ><i
              class="fas fa-sign-out-alt"
              title="Çıkış Yap"
              alt="Çıkış Yap"
            ></i
          ></a>
        </li>
        {% endif %}
      </ul>
    </div>

    <nav>
      <ul class="d-flex justify-content-end text-center">
        <p
          class="geri li"
          style="position: absolute; left: 15px; font-size: 18px; color: white"
        >
          <a
            href="{% url 'admin-home' %}"
            style="color: white; text-decoration: none; display: block"
            >Geri Dön</a
          >
        </p>
        <li>
          <img
            src="{% static 'mahresimler/logo.png' %}"
            style="width: 18px; height: 18px"
          />
        </li>
      </ul>
    </nav>
    <div class="scroll-nav">
      <ul class="ul d-flex justify-content-end text-center">
        <p
          class="welcomeuser"
          style="
            position: absolute;
            left: 30px;
            top: 5px;
            font-size: 18px;
            color: white;
          "
        >
          <img
            src="{% static 'mahresimler/logo.png' %}"
            style="width: 18px; height: 18px; margin-top: 18%"
          />
        </p>
        <li class="li">
          <i
            class="fas fa-arrow-up"
            style="
              cursor: pointer;
              display: block;
              visibility: visible;
              margin-top: 6px;
            "
          ></i>
        </li>
      </ul>
    </div>
    <h4 class="text-center mt-5 mb-4">Kişi Detayları</h4>
    <table class="table table-hover table-striped text-center mt-5 col-11">
      <tr>
        <td>Ad Soyad</td>
        <td>
          <h6>{{persons.name_surname}}</h6>
        </td>
        <td>TC Numarası</td>
        <td>
          <h6>{{persons.tcno}}</h6>
        </td>
      </tr>
      <tr>
        <td>Cinsiyet</td>
        <td>
          <h6>{{persons.gender}}</h6>
        </td>
        <td>Doğum Tarihi</td>
        <td>
          <h6>{{persons.birth_date}}</h6>
        </td>
      </tr>
      <tr>
        <td>İş</td>
        <td>
          <h6>{{persons.job}}</h6>
        </td>
        <td>Doğum Yeri</td>
        <td>
          <h6>{{persons.birth_city}}</h6>
        </td>
      </tr>
      <tr>
        <td>Anne</td>
        <td><h6>{{persons.mother}}</h6></td>
        <td>Baba</td>
        <td><h6>{{persons.father}}</h6></td>
      </tr>
      <tr>
        <td>Oğlu</td>
        <td><h6>{{persons.son}}</h6></td>
        <td>Email</td>
        <td><h6>{{persons.email}}</h6></td>
      </tr>
      <tr>
        <td>Kızı</td>
        <td><h6>{{persons.daughter}}</h6></td>
        <td>Adres</td>
        <td><h6>{{persons.living_city}}</h6></td>
      </tr>
    </table>
  </div>
  <script>
    let slider = document.querySelector(".slidernav");
    let icon = document.querySelector(".fa-bars");
    icon.addEventListener("click", () => {
      slider.classList.toggle("slidernavmargin");
    });
    window.onscroll = function () {
      scrollfunc();
    };
    let scrollnav = document.querySelector(".scroll-nav");
    let scrolltop = document.querySelector(".fa-arrow-up");

    function scrollfunc() {
      if (
        document.body.scrollTop > 40 ||
        document.documentElement.scrollTop > 40
      ) {
        scrollnav.style.top = "0";
      } else {
        scrollnav.style.top = "-50px";
      }
      scrolltop.addEventListener("click", () => {
        window.scrollTo(0, 0);
      });
    }
  </script>
  {% endblock content %}
</body>
